.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movielist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  list-style-type: none;
}

.custom-select {
  display: inline-block;
  width: 200px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  background-image: url('https://www.permisbateauonline.com/permis-cotier/tutoriaux/images/signaux%20meteo/TB.gif');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.custom-select:hover {
  border-color: #888;
}

.custom-select:focus {
  border-color: #555;
  outline: none;
}

.navigation-buttons {
  display: flex;
  gap: 20px;
}

.nav-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #0056b3;
}

.nav-button.previous::before {
  content: '←';
  margin-right: 8px;
}

.nav-button.next::after {
  content: '→';
  margin-left: 8px;
}

.input-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

.styled-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.styled-input::placeholder {
  color: #aaa;
}

.styled-input:focus {
  border-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
  outline: none;
}
