.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(44, 40, 49);
  padding: 15px 30px;
  font-size: 18px;
}

.Logo a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.NavLinks {
  display: flex;
  gap: 15px;
}

.NavButton {
  background-color: #5a4e68;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.NavButton:hover {
  background-color: #7a6b91;
}
