

.details {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(2, 2, 35);
    height: 80%;
}

.details-image-container {
display: flex;
justify-content:center;
width: 50%;
padding: 0px;
margin: 0px;

}

.details-image {
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.details-info-container {
display: flex;
flex-direction: column;
justify-content: space-around;
align-content: center;
width: 40%;
padding-left:10%;
padding-right: 10%;

}





.details-title {
    text-align: center;
    font-size: 40px;   
    font-weight: 900;
    font-variant: small-caps;
    

}

.details-date {
    text-align: center;
    font-size: 12px;
}

.details-genre {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.details-description {
    text-align: center;
    font-size: 18px;
}

.details-duration {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}